/************************
DEFINITION DES VARIABLES
**************************/

$bg-color-primary: #9356dc;
$bg-color-secondary: #ff79da;
$bg-color-thirty: #99e2d0;
$bg-color_fourth: #f6f6f6;

$bg-color-primary-light: #f5edff;

$font-color-primary: black;
$font-color-secondary: white;
$font-color-thirty: #008766;

$header-height: 64px;

$box-shadow-color: rgba(0, 0, 0, 0.199);
