.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  height: 272px;
  width: 100%;
  box-shadow: 5px 5px 5px $box-shadow-color;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  &__header {
    position: relative;
    height: 70%;
    width: 100%;
    background-color: white;
    overflow: hidden;
    &__new[data-visible="false"] {
      display: none;
    }
    &__new[data-visible="true"] {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 5;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      background-color: $bg-color-thirty;
      color: $font-color-thirty;
      font-weight: bold;
    }
    &__img {
      img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    padding: 1rem;
    &__text {
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;
      font-size: 1.2rem;
      font-weight: 300;
      span:first-child {
        font-weight: bold;
        font-size: 1.4rem;
      }
    }
    &__like {
      font-size: 1.5rem;
    }
  }
}

.card:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.card-small {
  //@include card-poping;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  height: 70px;
  width: 100%;
  box-shadow: 5px 5px 5px $box-shadow-color;
  overflow: hidden;
  margin: 1rem 0;
  cursor: pointer;
  &__body {
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 100%;
    &__text {
      min-width: calc(100% - 3rem);
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: 0.5s ease-in-out;
      padding: 0 1rem;
      h4,
      p {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &__price {
      display: flex;
      align-items: center;
      min-width: 3rem;
      span {
        width: 100%;
        text-align: center;
        font-weight: 600;
      }
    }
    &__check {
      @include flex-center;
      min-width: 4rem;
      height: 100%;
      background-color: $bg-color-thirty;
      color: white;
      font-size: 1.5rem;
      i {
        animation: unrotate-check 0.5s ease-in-out;
      }
    }
    &:hover &__text {
      min-width: calc(100% - 7rem);
    }
    &:hover &__check i {
      animation: rotate-check 0.5s ease-in-out;
    }
  }
}

@media screen and (min-width: 1024px) {
  .card {
    height: 448px;
  }
}
