header {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: $header-height;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.199);
  z-index: 1000;
  nav {
    grid-column: 1;
    @include self-center;
    font-size: 1.2rem;
  }
  nav[data-navigation="false"] {
    display: none;
  }
  .brand-container {
    grid-column: 2;
    @include self-center;
  }
}
